@import "@/styles/variables";

@keyframes shivering {
  33% {
    translate: -1px 0;
  }
    
  66% {
    translate: 1px 0;
  }
}

.question-box {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  line-height: normal;
  
  &:not(.editable) {
    margin-bottom: 1rem;
  }
  
  &.editable {
    min-height: 260px;
  }
  
  &:hover {
    scale: none;
    box-shadow: none;
  }

  .prefix-box {
    color: $MAIN_COLOR;

    span {
      font-weight: 700;
      font-size: 0.75rem;
      display: flex;

      img {
        height: 0.85rem;
      }
    }
  }

  h3, .question-title{
    margin-bottom: 0.5rem;

    &.editable {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
  
  span.question-desc {
    font-weight: 500;
    color: gray;

    &::before {
      content: "";
      margin-left: 0.25rem;
    }
  }

  figure.question-desc {
    display: flex;
    justify-content: center;
    
    img {
      border-radius: 8px;
      max-width: 75%;
    }
  }

  input:checked + label {
    color: $MAIN_COLOR;
  }

  label, label span {
    transition: color 0ms;
  }

  &:has(input:checked) {
    h3 {
      color: $SUB_COLOR;
    }
  }

  .answer-box.essay-answer > div {
    display: flex;

    & > input {
      flex-grow: 1;
    }
  }

  animation-iteration-count: infinite;
  animation-duration: 150ms;

  &:has(.options-container .delete:hover) {
    animation-name: shivering;
  }
}

.options-container {
  display: flex;
  line-height: normal;
  gap: 1rem;
  user-select: none;

  .delete {
    background: transparent;

    border: none;
    padding: 0px 12px;

    font-weight: 600;
    font-size: 1rem;
    color: $BRIGHT_GRAY_COLOR;

    cursor: pointer;
    
    &:hover {
      color: $MAIN_COLOR;
    }
  }
}

.required-option-form {
  display: flex;
  align-items: center;

  input {
    display: none;
  }

  .switch-container {
    width: 70px;
    padding: 2px;

    border: 2px solid $OPTION_GRAY_COLOR;
    border-radius: 2rem;
      
    transition: all 250ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    .switch-lever {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      
      width: 50px;
      height: 28px;
      border-radius: 1rem;
      
      background-color: $OPTION_GRAY_COLOR;
      
      color: WHITE;
      font-weight: 700;
      font-size: 0.8rem;
      
      transition: all 250ms;
      transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      cursor: pointer;
    }

    &:hover {
      .switch-lever {
        margin-left: 4px;
      }
    }
  }

  input:checked + label {
    .switch-container {
      border-color: $SUB_COLOR;
      
      .switch-lever {
        margin-left: 20px;
        background-color: $SUB_COLOR;
      }
    }

    &:hover {
      .switch-lever {
        margin-left: 16px;
      }
    }
  }
}
  
.type-option-form {
  font-weight: 600;
  display: flex;
  // gap: 6px;

  .type-option-container {
    border: 2px solid $OPTION_GRAY_COLOR;
    color: $OPTION_GRAY_COLOR;
    padding: 8px 12px;
    cursor: pointer;
    transition: none;
    margin-left: -2px;
    
    &:first-child {
      border-radius: 12px 0 0 12px;
    }
    
    &:last-child {
      border-radius: 0 12px 12px 0;
    }

    &:hover {
      border-color: $SUB_COLOR;
      color: $SUB_COLOR;
      scale: 1;
    }

    input {
      display: none;
    }

    &:has(input:checked) {
      border-color: $SUB_COLOR;
      background-color: $SUB_COLOR;
      color: white;
      scale: 1;
    }
  }

  &:hover {
    scale: 1.02;
  }
}

.count-option-form {
  display: flex;
  align-items: center;

  padding: 0 1rem 0 0.5rem;
  border: 2px solid $OPTION_GRAY_COLOR;
  border-radius: 12px;

  font-weight: 600;
  color: $OPTION_GRAY_COLOR;
  
  .min-choices, .max-choices {
    input {
      font-family: Pretendard;
      font-weight: 600;
      font-size: 1rem;
      color: $OPTION_GRAY_COLOR;
      
      width: 1.5rem;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }

      &:hover {
        scale: normal;
        color: $SUB_COLOR;
      }
    }
  }

  .min-choices input {
    padding-right: 0.25rem;
    text-align: right;
  }

  .max-choices input {
    padding-left: 0.25rem;
    text-indent: left;
  }

  &:hover {
    scale: 1.02;
  }
}