.row {
  vertical-align: middle;

  .title-value {
    width: 50%;
    text-align: left;
  }
  
  .category-value {
    width: 25%;
    text-align: center;
  }
  
  .participants-value {
    width: 25%;
    text-align: right;
  }
}