@import "@/styles/variables";

.top-container {
  .category-list {
    margin-left: 0.5rem;

    font-size: 1.25rem;
    font-weight: 600;
    color: $GRAY_COLOR;
  }

  .vote-main {
    width: $LEFT_SIDE_WIDTH + 200px;
  }
}