@import "@/styles/variables";

.form-container {
  display: flex;
  flex-direction: column;

  margin-bottom: 240px;

  section {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap: 0.5rem 0.5rem;

    // width: calc((240px + 2.5rem + 4px) * 2 + 0.5rem);
    margin-bottom: 2rem;
  }

  .form-title {
    // font-size: 1.125rem;
    text-align: center;
    color: $BRIGHT_MAIN_COLOR;
    margin-bottom: 0.5rem;
  }
  
  .form-group {
    label {
      color: $GRAY_COLOR;
      font-weight: 600;
    }

    div {
      input {
        // width: 240px;
        width: 480px;
        padding: 1rem 1.25rem;
        font-weight: 600;
        font-size: 0.9rem;
        background-color: #ffffff;
        // backdrop-filter: blur(1rem);
        margin: 0;
        // border-color: $GRAY_COLOR;

        // &:hover {
        //   border-color: $DARK_GRAY_COLOR;
        // }
        
        // &:valid {
        //   border-color: $MAIN_COLOR;
        // }
      }
    }
  }

  button[type="submit"] {
    cursor: pointer;

    &:hover {
      background-color: $SUB_COLOR;
    }
  }

  .error-message {
    color: $MAIN_COLOR;
    width: 524px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}