$MAIN_COLOR: #D64631;
$SUB_COLOR: #E96317;
$BRIGHT_MAIN_COLOR: #E19084;
$WHITE_MAIN_COLOR: #F5E4E0;
$LINE_GRAY_COLOR: #F5F5F5;
$WHITE_GRAY_COLOR: #F5F5F5;
$CONTAINER_WIDTH: 1116px;
$CATEGORY_COLOR: #404040;
$DARK_GRAY: #404040;
$GRAY: #A0A0A0;

$BORDER_RADIUS: 16px;