// * 명명규칙
// - 밝기는 DARK -> ___ -> BRIGHT -> WHITE -> TRANSPERENT(반투명) 순이다

$TRANSPERENT_MAIN_COLOR: #D6463120;
$WHITE_MAIN_COLOR: #F5E4E0;
$BRIGHT_MAIN_COLOR: #E19084;
$MAIN_COLOR: #D64631;
$DARK_MAIN_COLOR: #8a291a;

$SUB_COLOR: #E96317;

$WHITE_GRAY_COLOR: #F5F5F5;
$OPTION_GRAY_COLOR: #E0E0E0;
$BRIGHT_GRAY_COLOR: #cccccc;
$GRAY_COLOR: #A0A0A0;
$DARK_GRAY_COLOR: #404040;

$LINE_GRAY_COLOR: $WHITE_GRAY_COLOR;
$CATEGORY_COLOR: $DARK_GRAY_COLOR;

// $CONTAINER_WIDTH: 1116px;
$CONTAINER_WIDTH: 1200px;
$BORDER_RADIUS: 16px;
$LEFT_SIDE_WIDTH: 750px;
$RIGHT_SIDE_WIDTH: 387px;
$HEADER_HEIGHT: 60px;

$DIVIDE_GAP: 2.5rem;