@import "@/styles/variables";

.answers-box {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap-reverse;
  
  user-select: none;

  .answer {
    position: relative;
    overflow: hidden;

    padding: 12px 16px 12px 16px;

    font-weight: 700;
    color: gray;

    border-radius: 1rem;
    border: 2px solid $LINE_GRAY_COLOR;

    cursor: pointer;

    &:hover {
      background: $MAIN_COLOR;
      border-color: $MAIN_COLOR;
      
      .text {
        // color: transparent;
        color: $BRIGHT_MAIN_COLOR;
      }

      .close-icon {
        top: calc(50% - 12px);
        left: calc(50% - 12px);
      }
    }

    .close-icon {
      position: absolute;
      top: 100%;
      left: calc(50% - 12px);

      height: 24px;
    }
  }
}