@import "@/styles/variables";

.filter-container {
  transition: none;
  position: fixed;
  right: calc((100vw - $CONTAINER_WIDTH) / 2);
  padding: 0 12px 0 12px;
  overflow-y: scroll;
  margin-top: -48px;
  height: calc(100vh - 109px + 48px);
  width: $RIGHT_SIDE_WIDTH;
  
  .filter-list {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    overflow: visible;
    margin-bottom: 3rem;
  }

  .search-area {
    box-sizing: border-box;
    font-family: "Pretendard";
    font-size: 1.25rem;
    // width: 321px;
    width: 100%;
    font-weight: 600;
    transition: all 200ms;
    // border-color: $BRIGHT_GRAY_COLOR;
    border-color: $WHITE_MAIN_COLOR;
    color: $MAIN_COLOR;
    
    &:hover {
      border-color: $BRIGHT_MAIN_COLOR;
    }
    
    &:focus {
      transition: all 200ms;
      border-color: $BRIGHT_MAIN_COLOR;
      outline: none;

      &::placeholder {
        color: $MAIN_COLOR;
      }
    }
    
    &::placeholder {
      color: $BRIGHT_MAIN_COLOR;
      transition: all 200ms;
    }

    &:valid {
      border-color: $BRIGHT_MAIN_COLOR;
    }
  }

  .category-filter-container {
    
    // 아무 input도 체크되어 있지 않을 때
    &:not(:has(input:checked)) label::before {
      background-image: url("/svgs/checkbox-all.svg");
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}