@import "@/styles/variables";

.submit-button {
  padding: 12px 24px;
  margin: 1rem 0;

  font-size: 1rem;
  font-weight: 600;
  font-family: 'Pretendard';
  color: white;
  
  background-color: $MAIN_COLOR;

  border: none;
  border-radius: $BORDER_RADIUS / 2;

  &:invalid {
    background-color: #e0e0e0;
  }
}