@import "@/styles/variables";

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div, > div > input {
      box-sizing: border-box;
      width: 320px;
    }

    input {
      background-color: #ffffff40;
      backdrop-filter: blur(10px);
    }

    button[type="submit"] {
      width: calc(100% - 1rem);
    }
  }
}

.typo_logo-container {
  width: 120px;
  margin: 50% 0 1rem 0;

  img {
    width: 100%;
  }
}

.forgot-password-container {
  font-size: 0.75rem;
  color: $BRIGHT_MAIN_COLOR;
  font-weight: 500;

  a {  
    &:active, &:link, &:visited {
      color: $BRIGHT_MAIN_COLOR;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.background-objects {
  img {
    position: absolute;
    z-index: -1;

    &:first-child {
      rotate: 120deg;
      top: -75%;
      left: -25%; 
    }

    &:last-child {
      right: -25%;
      bottom: -75%;
    }
  }
}