@import "@/styles/variables";

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div, > div > input {
    box-sizing: border-box;
    width: 320px;
  }

  input {
    background-color: #ffffff40;
    backdrop-filter: blur(10px);
  }

  button[type="submit"] {
    width: calc(100% - 1rem);
  }
}

.forgot-password-container {
  font-size: 0.75rem;
  color: $BRIGHT_MAIN_COLOR;
  font-weight: 500;
  cursor: pointer;

  a {  
    &:active, &:link, &:visited {
      color: $BRIGHT_MAIN_COLOR;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}

.enter-register-container {
  font-size: 0.75rem;
  color: $BRIGHT_MAIN_COLOR;
  font-weight: 500;

  a {  
    &:active, &:link, &:visited {
      color: $BRIGHT_MAIN_COLOR;
    }
  }

  &:hover {
    text-decoration: underline;
  }
}