@import "@/styles/variables";

@keyframes shivering {
  33% {
    translate: -1px 0;
  }
    
  66% {
    translate: 1px 0;
  }
}

.editable {
  animation-duration: 150ms;
  animation-iteration-count: infinite;

  input.choices {
    font-size: 1rem;
    font-weight: 500;
  }

  .editable-choice-box {
    width: 100%;
    display: flex;

    .close-icon {
      color: $BRIGHT_GRAY_COLOR;
      cursor: pointer;

      &:hover {
        color: $MAIN_COLOR;
      }
    }
  }
}

.editable:has(.close-icon:hover) {
  animation-name: shivering;
}

.add-choice {
  display: flex;
  justify-content: center;
  
  height: 2rem;

  background-color: white;
  
  font-size: 1rem;
  font-weight: 500;
  color: $BRIGHT_GRAY_COLOR;
  
  border-radius: 1rem;
  border: none;

  cursor: pointer;

  &:hover {
    color: $MAIN_COLOR;
  }
}