@import "@/styles/variables";

.top-container {
  h2 {
    margin-bottom: 3rem;
  }
}

.question-box {
  margin-bottom: 1rem;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  
  &:hover {
    border-color: $WHITE_GRAY_COLOR;
    scale: none;
    box-shadow: none;
  }

  h3 {
    margin-bottom: 0.5rem;
  }
  
  span.question-desc {
    font-weight: 500;
    color: gray;

    &::before {
      content: "";
      margin-left: 0.25rem;
    }
  }

  figure.question-desc {
    display: flex;
    justify-content: center;
    
    img {
      border-radius: 8px;
      max-width: 75%;
    }
  }

  input:checked + label {
    color: $SUB_COLOR;
  }

  label, label span {
    transition: color 0ms;
  }

  &:has(input:checked) {
    h3 {
      color: $SUB_COLOR;
    }
  }

  .answer-box.essay-answer > div {
    display: flex;

    & > input {
      flex-grow: 1;
    }
  }
}